<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.qidu.lin.showRecentApps"
    android:versionCode="9"
    android:versionName="1.5" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.GET_TASKS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.qidu.lin.showRecentApps.fg.RecentAppsActivity"
            android:excludeFromRecents="true"
            android:label="@string/title_activity_test_get_recent_apps"
            android:theme="@style/mydialogactivity"
            android:windowSoftInputMode="stateAlwaysHidden" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.qidu.lin.showRecentApps.fg.EMPTYActivity"
            android:excludeFromRecents="true"
            android:label="@string/title_activity_empty"
            android:launchMode="singleInstance"
            android:taskAffinity="a.b.c.d.e.f.f.e.a"
            android:theme="@style/MyTransparent" >
        </activity>
        <activity
            android:name="com.qidu.lin.showRecentApps.fg.SettingsActivity"
            android:excludeFromRecents="true"
            android:taskAffinity="a.b.c.d.e.f.f.e.a.sd.sdf"
            android:label="@string/title_activity_settings" >
        </activity>
    </application>

</manifest>
